.brand-logo{
  height:100px;
  justify-content: end;
}
.brand-name{
  background-color: gold;
  align-content: center;
  justify-content: center;
}
:root {
  --primary-color: #3498db; /* Example value */
  --accent-color: purple
}

h1{
  color: #F8EDE3;
  background-color: #85586F;
  text-align: center;
}

h2 {
  color : black;

}

.content{
  color: #85586F;
  background-color: #DFD3C3 ;
}


