
<main>
  <a [routerLink] = "['/']"> <!--    anchor adds hyperlink to page-->
    <header class = "brand-name">
      <img class = "brand-logo" src = "/assets/logo.jpg" alt= "logo" aria-hidden = "true"/>
    </header>
  </a>
    <section class = "content">
      <router-outlet></router-outlet>
      <h1>
       Hey you!<br />
        Welcome to Hair By Joyceline Business. <br/>
        Let me Transform your Hair!
      </h1>
      <router-outlet></router-outlet>
    </section>
</main>
<router-outlet />
